* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #eee;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 10px;
  transition: .3s;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #616161;
}

.wrapper {
  overflow: hidden;
}

h2 {
  width: 50%;
  padding: 0 10px;
  margin: 0 auto 30px auto;
  text-align: center;
  font-size: 34px;
  border-bottom: 3px solid #d67601;
}

section {
  padding: 100px 50px;
}

table {
  border-collapse: collapse;
  border: 1px solid #000;
}

table th,
table td {
  height: 50px;
  border: 1px solid #000;
}

table th {
  font-size: 24px;
}

/* -----NAVIGATION------ */
.nav-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  background-color: #ffe082;
  z-index: 1;
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 50%;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-items li {
  margin-right: 20px;
}

.nav-items li a {
  padding: 15px;
  font-size: 26px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  border-radius: 20px;
  transition: .3s;
}

.nav-items li a:hover {
  box-shadow: 2px 1px 1px #000;
  background-color: #fdd96b;
}

.viber-phone-box {
  display: flex;
  align-items: center;
}

.fa-viber {
  font-size: 38px;
  color: #8208bb;
  margin-right: 10px;
}

.main-phone-box {
  display: flex;
  flex-direction: column;
}

/* ----LANGUAGE BOS---- */

.language-box a {
  margin-left: 10px;
}

/* ----ICON BUTTON NAV---- */

.menu-icon {
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  /* top: 20px; */
  right: 10px;
  /* display: inline-block; */
  /* z-index: 5; */
}

.menu-btn {
  position: relative;
  display: none;
  width: 30px;
  height: 20px;
  padding: 0;
  cursor: pointer;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 4px;
  margin-top: -2px;
  margin-left: -15px;
  background-color: #000;
  border-radius: 20px;
  transition: .3s;
}

.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
}

.menu-btn span::before {
  transform: translateY(-8px);
}

.menu-btn span::after {
  transform: translateY(8px);
}

.menu-btn-active span {
  height: 0;
}

.menu-btn-active span::before {
  transform: rotate(-45deg);
}

.menu-btn-active span::after {
  transform: rotate(45deg);
}

/* ---- HEADER ---- */

.header-box {
  height: 100vh;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
  color: #ccc;
}

.header-inner h1,
.header-inner p {
  margin-bottom: 100px;
} 

.header-inner h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  font-weight: 700;
}

.header-inner p {
  font-size: 50px;
  font-weight: 700;
}

.header-inner button {
  padding: 20px 30px;
  font-size: 40px;
  font-weight: 700;
  background-color: rgba(255, 224, 130, 0.8);
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  transition: .3s;
}

.header-inner button:hover {
  background-color:  rgb(255, 224, 130);
}

.header-inner button a {
  text-decoration: none;
  color: #000;
}

/* ------ABOUT US------ */

.about-us {
  width: 70%;
  margin: 150px auto 0 auto;
  padding: 50px 30px;
  background-color: #f3f2f2;
  box-shadow: 0px 0px 15px 5px #8c8b8b;
  border-radius: 20px;
}

.about-us p {
  margin-bottom: 20px;
  font-size: 20px;
}

.about-us p span {
  font-weight: bold;
}

/* -----TIMETABLE------- */

.timetable {
  text-align: center;
}

.timetable p {
  font-size: 24px;
  margin: 20px 0;
}

.timetable-table {
  width: 80%;
  margin: 0 auto;
}

.timetable-table td {
  font-size: 18px;
}

.timetable-table .city {
  font-size: 20px;
  text-decoration: underline;
}

.from-ua,
.from-pl {
  background-color: #fff;
}

/* -----PRICE------ */
.price {
  background-color: #fff;
}

.price-table {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.price-table th,
.city-price {
  background-color: #ffe082;
}

.price-table .element-bg {
  font-weight: 700;
  transition: .2s;
}

.price-table .element-bg:hover {
  transition: .2s;
  background-color: #ffe082;
}

.city-price {
  font-size: 24px;
  font-weight: 700;
}

/* ----CONTACT---- */
.contact {
  background-color: #f3f2f2;
}

.contact-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 60%;
  margin: 25px auto; 
}

.contact-box p {
  padding: 10px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

/* ----UP-ARROW---- */

.arrow-box {
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  bottom: -50px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: #000;
  text-align: center;
  background-color: #ffd350;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  transition: .3s;
  z-index: 10;
  opacity: 0;
}

.arrow-box:hover {
  background-color: #d67601;
}

.arrow-box.visible {
  opacity: 1;
  bottom: 0;
}

.arrow-box i {
  line-height: 50px;
}

/* ----FOOTER---- */
footer {
  text-align: center;
  padding: 10px;
  background-color: #fff;
}

/*=====Responsive=====*/

@media (max-width: 1160px) {
/* ---navigation----- */
  .nav-box {
  padding: 5px 10px;
  }

  .nav-items li {
    margin-right: 5px;
  }

  .nav-items li a {
    font-size: 22px;
  }

  .about-us {
    width: 80%;
  }

  .timetable-table {
    width: 90%;
  }

  .price-table {
    width: 70%;
  }

  .contact-box {
    width: 80%;
  }
}

@media (max-width: 992px) {

  .nav-box .logo-img {
    height: 40px;
    width: 55px;
  }

  .nav-items li a {
    padding: 10px;
    font-size: 18px;
  }

  .fa-viber {
    font-size: 28px;
  }

  .nav-box .main-phone {
    font-size: 14px;
  }

  .language-box img {
    width: 20px;
    height: 15px;
  }

  .header-inner h1 {
    font-size: 80px;
  }

  .header-inner p {
    font-size: 40px;
  }

  .header-inner button {
    padding: 20px 30px;
    font-size: 25px;
  }

  .about-us {
    width: 95%;
  }

  .timetable-table {
    width: 100%;
  }

  .price-table {
    width: 90%;
  }

  .contact-box {
    width: 95%;
  }
}

@media (max-width: 780px) {
  .nav-main {
    display: none;
  }

  .menu-icon .menu-btn {
      display: block;
  }

  .nav-box {
    height: 50px;
  }

  .nav-main.show {
    display: block;
    position: fixed;
    top: 50px;
    right: 0;
    height: 40px;
    padding-top: 5px;
    border-bottom-left-radius: 10px;
    background-color: #ffe082;
  }

  section {
    padding: 50px 10px;
  }

  .header-inner h1 {
    font-size: 60px;
  }

  .header-inner p {
    font-size: 22px;
  }

  .header-inner button {
    font-size: 20px;
  }

  .about-us h2,
  .timetable h2,
  .price h2,
  .contact h2 {
    font-size: 26px;
  }

  .about-us p,
  .timetable p {
    font-size: 16px;
  }

  .timetable th,
  .price th {
    font-size: 20px;
  }

  .timetable td,
  .price td,
  .contact p {
    font-size: 16px;
  }

  .timetable td .city {
    font-size: 16px;
  }
  
  .price-table {
    width: 100%;
  }

  .contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .adress,
  .phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .logo-img {
    display: none;
  }

  .nav-main.show {
    width: 100%;
    border-bottom-left-radius: 0;
  }

}